//button
.btn {
	background: $green;
	color: $white;
	padding: 0.5rem 1.5rem;
	border-radius: 5px;
	font-size: 12px;
	font-weight: $bold;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;

	&:hover {
		background: $green--darker;
	}
}

//debug
.tbc {
	background: red;
	font-weight: $bold;
	text-transform: uppercase;
	color: $white;
	padding: 10px 20px;
}

//misc

.router-link-active {

    li {
        background: $white;
        color: $black;
    }
}