@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
        .text-7xl {
            font-size: 4.5rem;
            line-height: 1;
        }
        .text-8xl {
            font-size: 6rem;
            line-height: 1;
        }
    }
}